@keyframes appear{
  0%{
    transform: scale(0);
  }

  100%{
  
    transform: scale(1);
  }
}

@keyframes slide{
  0%{
    margin-top: 200%;
  }

  100%{
  
    margin-top: 0%;
  }
}

@keyframes slideLeft{
  0%{
    margin-left: -200%;
  }

  100%{
  
    margin-left: 0%;
  }
}

* {
  margin: 0;
font-family: 'Gabarito', cursive;
}

.Navbar{
  margin: 0 ; 
  width: 100%;
  padding: 0;
  font-size: 1rem;

  top: 0;
  z-index: 1;
  
}

.navbarHeading{
  display: flex;
  justify-content: space-between;
  margin: 0 20%;
  padding: 1% 0;
}


.Links ul{
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
  gap:30px;
}

.Links ul li{
  list-style: none;
  font-size: 1.2rem;
  text-decoration: none;
}

.Links ul li a , navbarLogin{

  text-decoration: none;
}

.landingPageWallpaper{
  margin-top: -5%;
  width: 100%;
  height: 800px;
  background-image: url("../image/rodan-can-6cqJPeTIuls-unsplash.jpg");
  background-size: cover;
  background-position: center 70%;
  background-repeat: no-repeat;
}

.searchBox{
  width: 20%;
  background: #fff;
  padding: 2.5%;
  margin : 5%;
  position: relative;
  top: 20%;
}

.searchBox select,
.button {
  width: 100%;
  margin-top: 10%;
  font-size: 1.2rem;
}

.button {
  width: 40%;
  margin: 30% 30%;
}

.brand {
  height: 120px;
  width: 120px;
}

.brandimg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.brands {
  display: flex;
  justify-content: space-evenly;
  margin: 0 20%;
}

.carBrands {
  margin: 10% 0;
}

.Brandsdisplay {
  width: 100%;
  text-align: center;
}

.customer_Image {
  width: 200px;
  height: 200px;
}
.customerImage {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.reviews{
  padding:1%;
  transition: ease-in-out .5s;
}

.reviews:hover{
  transform: scale(1.09);
  background: #80b6fd;
  border-radius: 15px;

}
.Reviews {
  width: 200px;
}

.customerViews {
  display: flex;
  justify-content: space-evenly;
  margin: 5% 15%;
}

.views {
  text-align: center;
}

.Sale {
  justify-content: center;
  display: flex;
  width: 100%;
  margin: 2.5% 0;
}

.sellCarPage {
  background-image: url("../image/sell page.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
}
.salesPage {
  width: 30%;
  padding: 2%;
  border: 2px solid #000;
  background-color: #fff;
}
.salesPage input,
.salesPage select {
  display: flex;
  width: 90%;
  font-size: 1.2rem;
  margin: 4% 0;
}

.salesPage label {
  font-size: 1.2rem;
}

.salesHeading {
  margin-bottom: 10%;
}



/* navbar */


/* Buy Page */



/* car information */

.carInformation {
  display: flex;
  margin-top: 50px;

  justify-content: center;
}


.CarImg{
  transition: ease-in-out .5s;
}
.CarImg:hover {
  transform: scale(1.1);
}

.CarImage {
  height: 400px;
  width: 500px;
  overflow: hidden;
  animation: appear ease-in-out .75s;
}

.CarImg {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.CarDetails {
padding-top: 100px;
}

.CarInfo {
  width: 300px;
}

.carName{
  display: flex;
  justify-content: space-between;
}

.carName span{
  font-size: 1.5rem;
  font-weight: bold;
}
.carName ul{
  list-style: none;
  padding: 0;
}

.inner {
  text-align: center;
  font-size: 1.5rem;
  padding-top: 150px;
  padding-bottom: 100px;
}

.inner input {
  border: #252525 2px solid;
  border-radius: 20px 0 20px 0;
  text-align: center;
  padding: 1%;
  width: 40%;
  margin: 1% 0;
}

.inner button {
  border-radius: 20px 0 20px 0;
  text-align: center;
  padding: 1%;
  width: 20%;
  margin: 1% 0;
  background-color: blue;
  border: #ffff 2px solid;
  color: #fff;
  font-size: 1.5rem;
}

.carInfo {

  text-align: center;
  padding: 2%;
}



.SubmitBtn {
  font-size: 1.2rem;
  border-radius: 20px 0 20px 0;
  background-color: blue;
  color: #fff;
  border: #fff 2px solid;
  padding: 2% 5%;
}






/*  New Selling Modules */
.modules{
  display: flex;
  justify-content: space-evenly;
  margin: 2.5% 35%;
}

.carSales{
  width: 100%;
  padding: 2%;
  font-size: 1.5rem;

  background-color: #fff;
}
  
.carSales input {
  width: 100%;
  font-size: 1.5rem;
  margin: 2% 0;
  border-color: #b2b2b2;
  border-radius: 20px;
  text-align: center;
}

.carSales select{
  width: 75%;
  font-size: 1.5rem;
  margin: 2% 0;
  border-color: #b2b2b2;
  border-radius: 20px;
  text-align: center;
}

.carSales input .inputFile{
  border-radius: 0px;
}

.submitBtn{
  width: 50%;
  margin: 2% 25%;
  font-size: 1.5rem;
  border-radius: 20px;
  background-color: blue;
  color: #fff;
  border: #fff 2px solid;
  padding: 2% 5%;
}



















/* Trials */
.mainPage{
  overflow-x: hidden;
}
.block{
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 65%;
  height: 750px;
  width: 35%;
  background-color: #80b6fd;
  z-index: -3;
}

.homePageImage{
  position: relative;
  width: 55%;
  height: 55%;
  left: 42.5%;
  margin-top: 5%;
  animation: slideLeft ease-in-out 1.5s;
}

.LandingPageHeading{
  font-size: 2.5rem;
}
.landingPage{
  position: absolute;
  top: 15%;
  width: 50%;
  margin: 4%;
}

.carModel , .carBodyType{
  margin-top: 5%;
  margin-right: 5%;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}
.landingPageButton{
  margin-top: 5%;
  margin-left: -2%;
  font-size: 1rem;

  padding: 5px;
  border-radius: 20px;
  background-color: blue;
  color: #fff;
  padding: 1.5% 5%;
}

.btnClass{
  margin-left:30%;
}



.car-img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.car-card {
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 300px;
  margin: 20px;
  border-radius: 10px;
  perspective: 1000px; /* This gives the 3D effect */
}

.car-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.car-card:hover .car-card-inner {
  transform: rotateY(180deg);
}

.car-image, .car-info {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.car-info {
  padding-top: 15%;
  background:#80b6fd;
  color: white;
  transform: rotateY(180deg);
}

.carsCard{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 5%;
}


.car-info ul{
  list-style: none;
  padding: 0;
}